body {
  background: #f4f6f8;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

table {
  width: 90%;
  background: white;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background: #eaeaea;
}

input {
  width: 100%;
  padding: 5px;
}

button {
  margin: 2px;
  padding: 6px 10px;
  cursor: pointer;
}

button.delete {
  background: red;
  color: white;
  border: none;
}
