body {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  background-color: white;
  color: black;
}

th,
td {
  color: black;
  border: 1px solid #999;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
